.w{
    width: 1530px;
    height: 750px;
    margin: 0 auto;
}
.page{
    width:1530px;
    height: 750px;
    position: relative;
    overflow: hidden;
}

.page>.zhong {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.28);
    z-index: 999;
}
.page>.zhong .zuzi {
    display: block;
    /*display: none;*/
}
.page .hez>.logo {
    position: absolute;
    left: 50%;
    margin-top: 4%;
    margin-left: -38px;
    background-image: url("../images/klog.png");
    background-repeat: repeat;
    /*使图片显示完全*/
    background-size: 100%;
    width: 76px;
    height: 51px;
    animation: move1 2s 0s,move2 6s 2s infinite;
    /* 持续时间 */
    /*animation-duration: 6s;*/
    /*使动画重复播放*/
    /*animation-iteration-count: infinite;*/
    /*改变动画时间快慢*/
    animation-timing-function:ease-in-out;
    z-index: 999991;
}
@keyframes move1 {

    /* 开始状态 */
    0% {
        transform: translatex(760px);
    }

    /* 结束状态 */
    100% {
        transform: translatex(0px);
    }
}
@keyframes move2 {
    /* 开始状态 */
    0% {
        transform: translatex(0px);
    }
    /* 中间状态 */
    25% {
        transform: translatex(-100px);
    }

    75% {
        transform: translatex(100px);
    }
    /* 结束状态 */
    100% {
        transform: translatex(0px);
    }
}
.page .hez .nh {
    position: absolute;
    width: 760px;
    height: 750px;
    /*overflow: hidden;*/
    /*background-color: #7f7373;*/
    z-index: 999992;
}
.page .hez .yh {
    position: absolute;
    left: 100%;
    margin-top: 14%;
    top:9px;
    margin-left: -34px;
    /*background-color: #ffffff;*/
    background-repeat: repeat;
    /*使图片显示完全*/
    background-size: 100%;
    width: 76px;
    height: 0px;
    overflow: hidden;
    animation: move1 2s 0s,move2 6s 2s infinite;
    /* 持续时间 */
    /*animation-duration: 6s;*/
    /*使动画重复播放*/
    /*animation-iteration-count: infinite;*/
    /*改变动画时间快慢*/
    animation-timing-function:ease-in-out;
    z-index: 999991;
    /*display: none;*/
}
@keyframes mo2 {
    /* 开始状态 */
    0% {
        transform: translatex(0px);
    }
    /* 中间状态 */
    25% {
        transform: translatex(-100px);
    }


    75% {
        transform: translatex(100px);
    }
    /* 结束状态 */
    100% {
        transform: translatex(0px);
    }
}
.page .hez .yh>.yu1 {
    float: left;
    width:11px;
    height: 36px;
    margin-left: 6px;
    margin-right: 12px;
    background-color: skyblue;
    animation: yum1 1.7s 0s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 5px;
}
.page .hez .yh>.yu2 {
    float: left;
    width:11px;
    height: 25px;
    margin-right: 12px;
    background-color: skyblue;
    animation: yum1 1.7s 0.3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.page .hez .yh>.yu3 {
    float: left;
    width:11px;
    height: 15px;
    margin-right: 10px;
    background-color: skyblue;
    animation: yum1 1.7s 0.6s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
@keyframes yum1{
    /* 开始状态 */
    0% {
        transform: translatey(0px);
    }
    /*20% {*/
    /*    transform: translatey(52px);*/
    /*}*/
    /*40% {*/
    /*    transform: translatey(0px);*/
    /*}*/
    /*50%{*/

    /*}*/

    /*60% {*/
    /*    transform: translatey(52px);*/
    /*}*/
    /*80% {*/
    /*    transform: translatey(0px);*/
    /*}*/

    /* 结束状态 */
    100% {
        transform: translatey(52px);
    }
}

.page .chara1{
    /*float: left;*/
    position: absolute;
    left: 50%;
    margin-top: 10%;
    margin-left: -180px;
    height: 150px;
    color: black;
    font-size: 100px;
    z-index: 9999;
}
.page .chara2{
    /*float: left;*/
    position: absolute;
    left: 50%;
    margin-top: 25%;
    margin-left: -500px;
    color: #ffffff;
    font-size: 50px;
    z-index: 9999;
    text-align: center;
}
.page .enter{
    width: 180px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-top: 35%;
    margin-left: -90px;
    font-size: 20px;
    background-color: rgba(240, 255, 255, 0);
    border: black 4px solid;
    transition: all 0.5s;
}
.page .enter:hover {
    border: #ffffff 4px solid;
    color: white;

}
.page .ceb1 {
    position: relative;
    float: right;
    width: 760px;
    height: 750px;
    background-color: rgba(220, 220, 220, 0.7);
    z-index: 99999;
    /*transform: scale(0.5, 0.5);*/
    /*transition: transform 1s ease-in-out;*/
    display: none;
    /* width: 100%; */
    /* height: 100%; */
    /* 调用动画 */
    animation-name: move;
    /* 持续时间 */
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* 1.定义动画 */
@keyframes move {

    /* 开始状态 */
    0% {
        transform: translatex(760px);
    }

    /* 结束状态 */
    100% {
        transform: translatex(0px);
    }
}

.page .ceb1>.cchara1{
    /*float: left;*/
    position: absolute;
    left: 50%;
    margin-top: 17%;
    margin-left: -125px;
    height: 150px;
    color: black;
    font-size: 70px;
}
.page .ceb1>.cchara2 {
    position: absolute;
    left: 50%;
    margin-top: 42%;
    margin-left: -240px;
    color: black;
    font-size: 30px;
}
.page .ceb1>.cchara3 {
    position: absolute;
    left: 50%;
    margin-top: 57%;
    margin-left: -240px;
    color: black;
    font-size: 30px;
}
.page .ceb1>.cchara4 {
    position: absolute;
    left: 50%;
    margin-top: 65%;
    margin-left: 90px;
    color: #3b3838;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}
.page .ceb1>.cchara4:hover {
    color: #7f7373;
    transform:scale(1.2,1.2) ;
    transition: transform 0.3s ease-out 0s;
}
.page .ceb1>.user {
    position: absolute;
    left: 50%;
    margin-top: 42%;
    margin-left: -150px;
    width: 280px;
    height: 40px;
    padding-left: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 25px;
}
.page .ceb1>.pass {
    position: absolute;
    left: 50%;
    margin-top: 57%;
    margin-left: -150px;
    width: 280px;
    height: 40px;
    padding-left: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 25px;
}
.page .ceb1 a .but {
    position: absolute;
    left: 50%;
    margin-top: 75%;
    margin-left: -75px;
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(224, 69, 69, 0.81);
    font-size: 20px;
    color: white;
    transition: all 0.5s;
}
.page .ceb1 a .but:hover {
    transform: scale(1.2,1.2);
    /* transition: transform 0.5s ease-out 0s; */
}
.page .ceb2 {
    position: relative;
    float: right;
    width: 760px;
    height: 750px;
    background-color: rgba(220, 220, 220, 0.7);
    z-index: 99999;
    display: none;
    animation-name: move;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.page .ceb2>.echara1{
    /*float: left;*/
    position: absolute;
    left: 50%;
    margin-top: 17%;
    margin-left: -125px;
    height: 150px;
    color: black;
    font-size: 70px;
}
.page .ceb2>.echara2 {
    position: absolute;
    left: 53%;
    margin-top: 39%;
    margin-left: -243px;
    color: black;
    font-size: 25px;
}
.page .ceb2>.echara3 {
    position: absolute;
    left: 46%;
    margin-top: 50%;
    margin-left: -240px;
    color: black;
    font-size: 25px;
}
.page .ceb2>.echara4 {
    position: absolute;
    left: 40%;
    margin-top: 61%;
    margin-left: -245px;
    color: black;
    font-size: 25px;
}
.page .ceb2>.user2 {
    position: absolute;
    left: 50%;
    margin-top: 39%;
    margin-left: -150px;
    width: 280px;
    height: 40px;
    padding-left: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 25px;
}
.page .ceb2>.pass2 {
    position: absolute;
    left: 50%;
    margin-top: 50%;
    margin-left: -150px;
    width: 280px;
    height: 40px;
    padding-left: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 25px;
}
.page .ceb2>.qpass2 {
    position: absolute;
    left: 50%;
    margin-top: 61%;
    margin-left: -150px;
    width: 280px;
    height: 40px;
    padding-left: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 25px;
}
#checkCode {
    position: absolute;
    left: 55%;
    margin-top: 72%;
    margin-left: -10px;
    background: url("../images/yanz.png");
    width: 120px;
    height: 36px;
    border-radius: 20px;
    transform: scale(1,0.8);
    color: #a718db;
    font-size: 28px;
    text-align: center;
}
#yancode {
    position: absolute;
    left: 49%;
    margin-top: 72%;
    margin-left: -240px;
    color: black;
    font-size: 25px;
}
#code
{
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:30px;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    float:left;
    cursor:pointer;
    width:150px;
    height:50px;
    line-height:60px;
    text-align:center;
    vertical-align:middle;
    background-color:#D8B7E3;
}
#spans {
    position: absolute;
    left: 55%;
    margin-top: 77%;
    margin-left: 4px;
    text-decoration:none;
    font-size:15px;
    color:#288bc4;
    padding-left:10px;
}

#spans:hover {
    text-decoration:underline;
    cursor:pointer;
}
.page>.video {
    position: absolute;
    margin-top: -100px;
    width:1530px;
    float: left;
    /*display: none;*/
}
#inputCode {
    position: absolute;
    left: 50%;
    margin-top: 72%;
    margin-left: -150px;
    width: 120px;
    height: 40px;
    padding-left: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 25px;
}
.page .ceb2>.but2 {
    position: absolute;
    left: 50%;
    margin-top: 83%;
    margin-left: -75px;
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(224, 69, 69, 0.81);
    font-size: 20px;
    color: white;
    transition: all 0.5s;
}
.page .ceb2>.but2:hover {
    transform: scale(1.2,1.2);
    /* transition: transform 0.5s ease-out 0s; */
}